.btn-blue {
  padding: 8px 24px;
  background-color: rgba(15, 113, 115, 1);
  color: white;
  border-radius: 20px;
  font-weight: 500;
  text-decoration: none;
}

.btn-blue:hover {
  text-decoration: none;
  background-color: rgba(15, 113, 115, 0.5);
  color: white;
}


.btn-rose {
  padding: 8px 24px;
  background-color: rgba(244, 88, 102, 1);
  color: white;
  border-radius: 20px;
  font-weight: 500;
  text-decoration: none;
}

.btn-rose:hover {
  text-decoration: none;
  background-color: rgba(244, 88, 102, 0.5);
  color: white;
}

.btn-white {
  border-radius: 5px;
  padding: 16px 24px;
  color: black;
  background-color: white;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: -0.5px;
}

.btn-white-md {
  border-radius: 5px;
  padding: 8px 20px;
  color: black;
  background-color: white;
  font-weight: 500;
  font-size: 16px;
  // letter-spacing: px;
  a {
    color: black;
  }
}
