.navbar-image-repo {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

.navbar-image-repo .navbar-collapse {
  flex-grow: 0;
}

.navbar-image-repo .navbar-brand img {
  display: none;
}

.hamburger {
  width: 35px;
  // border-radius: 50%;
}
