.upload-form-continer {
  width: 25%;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);

}

.image-upload {
  border-radius: 20px;
  background: rgba(189, 212, 231, 0.5);
  padding: 20px 15px;
}
